nav a {
    margin-bottom: 0;
    padding: 2rem;
  }

  nav, a {
    text-decoration: none;
    color: #484848;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 2rem 7%;
    z-index: 2;
  }

  .logo {
    height: 30px;
    width: 30px;
    text-align: center;
  }
  
  .nav-bar--mobile {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .scrolled {
    background-color: #fff;
  }